$cor-primaria: red;
$cor-secundaria: blue;
$cor-texto: black;

.primaria {
    color: $cor-primaria;
}

.secundaria {
    color: $cor-secundaria;
}

//[Diego Fortes]
$gray-1: #e5e5e5;
$black-1: #373737;
$black-2: #000;
$black-3: #5e5e5e;
$bg: #f6f6f6;
